body {
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  padding: 40px;
  text-align: center;
}

/* Title */
.title {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

/* Search bar */
.search-bar {
  width: 60%;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin-bottom: 30px;
  outline: none;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 22px;
}

/* Certificate card */
.cert-card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 24px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cert-card:hover {
  transform: translateY(-6px) scale(1.03);
  border-color: rgba(255,255,255,0.4);
}

.icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* PDF Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.hidden {
  display: none;
}

.modal-content {
  background: #111;
  padding: 20px;
  border-radius: 14px;
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

#pdf-frame {
  flex: 1;
  border: none;
  width: 100%;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}


.back-btn {
  display: inline-block;
  margin: 20px;
  padding: 8px 16px;
  background-color: #797979; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.back-btn:hover {
  background-color: #f75555;
}
